.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

button {
    background-color: #E91E63;
    color: white;
    border: none;
}

button:hover {
    background-color: #E91E63;
    color: white;
    border: none;
}


  